@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Source Han Serif CN VF';
  font-weight: '250 900';
}

@layer base {
  :root {
    /* --background: #7dd3fc; */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: #7dd3fc;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: rgba(0, 0, 0, 0.16);
    --muted-foreground: 240 3.8% 46.1%;
    --accent: rgba(0, 0, 0, 0.16);
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-color-primary: rgba(0, 0, 0, 1);
    --chart-color-secondary: rgba(0, 0, 0, 0.25);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #gradient-canvas {
    width:100%;
    height:100%;
  }
}

@layer components {
  .carousel-item {
    @apply relative h-full mr-[2px] last:mr-0 basis-full shrink-0 bg-background overflow-y-scroll;
  }
  .text-report-normal {
    @apply text-xl font-semibold my-2 leading-relaxed;
  }
  .text-report-large {
    @apply text-4xl font-bold mx-1 first:ml-0;
  }
  .stamp {
    --r: 6px;
    padding: calc(2*var(--r));
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.1));
    background: 
      radial-gradient(var(--r),#0000 98%,#fff) round
      calc(-1.5*var(--r)) calc(-1.5*var(--r)) /calc(3*var(--r)) calc(3*var(--r)),
      linear-gradient(#fff 0 0)  no-repeat
      50%/calc(100% - 3*var(--r)) calc(100% - 3*var(--r));
  }
  .share-image {
    @apply relative aspect-[3/4] bg-zinc-50 font-sans;
    background-image:
    radial-gradient(at 10% 0%, var(--gradient-color-1) 0px, transparent 50%),
    radial-gradient(at 130% 36%, var(--gradient-color-2) 0px, transparent 50%),
    radial-gradient(at 32% 110%, var(--gradient-color-3) 0px, transparent 50%),
    radial-gradient(at 88% 82%, var(--gradient-color-4) 0px, transparent 50%);
  }
  .share-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 600px;
    mix-blend-mode: soft-light;
    filter: contrast(170%) brightness(1000%);
  }
}
